<div class="footer">
  <script type="text/javascript">
    <!--
    document.write("<a href=\"&#109;&#97;&#105;&#108;&#116;&#111;&#58;&#100;" +
                             "&#101;&#115;&#111;&#64;&#112;&#111;&#115;&#116;" +
                             "&#101;&#111;&#46;&#110;&#101;&#116;\"> \
                    <i class=\"svg-icon &#101;&#109;&#97;&#105;&#108;\" /></i></a>")
    // -->
  </script>
  <a href="{{ site.baseurl }}public/952DD6F8F34D8B8E.asc"><i class="svg-icon gnupg"></i></a>
  <a href="https://www.linkedin.com/in/mueller-daniel"><i class="svg-icon linkedin"></i></a>
  <a href="https://github.com/d-e-s-o"><i class="svg-icon github"></i></a>
  <a href="https://github.com/d-e-s-o.atom"><i class="svg-icon rss"></i></a>
</div>
